/* Add a black background color to the top navigation */
#topNav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nf {
    width: 300px;
    height: 100px;
}

/* Change the color of links on hover */
#topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topNav a.active {
    background-color: #4CAF50;
    color: white;
}